<menu class="dropdown-menu" aria-labelledby="products">
    <li class="btn dropdown-item">
        {% if category_name == 'All' %}
            <a class="nav-link text-dark" href="{% url 'products' 'All' %}" style="border: 1px solid black"><strong>All Products</strong></a>
        {% else %}
            <a class="nav-link" href="{% url 'products' 'All' %}">All Products</a>
        {% endif %}
    </li>
    {% for category in categories %}
        <li class="dropdown-item">
            {% if category_name == category.name %}
                <a class="nav-link" href="{% url 'products' category.name%}" style="border: 2px solid black">{{ category.name }}</a>
            {% else %}
                <a class="nav-link" href="{% url 'products' category.name%}">{{ category.name }}</a>
        </li>
        {% endif %}
    {% endfor %}
</menu>
