{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block extra_head %}
<meta name="description" content="Prodfile page of Daniela-Handmade Project">
{% endblock %}

{% block content %}
<div class="profile-background background-overlay"></div>

<div class="container profile-body">
    {% if user.is_authenticated %}
        <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'profile_image' %}
                    {{ field }}
                {% else %}
                    {{ field | as_crispy_field }}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-green">Update Details</button>
        </form>
        <br>
        <br>
        <br>
        <br>
        {% if not user.has_usable_password %}
            <a class="btn btn-gate form-control" href="{% url 'account_set_password' %}"> Set Password </a>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
        <br>
        {% get_social_accounts user as accounts %}
        {% if accounts %}
        <div class="row g-0">
            <div class="col-12 col-md-3">
                <p>Connected account</p>
            </div>
            <div class="col-12 col-md-9">
                <img src="{{user_profile.google_profile_image}}" alt="google profile image" class="user_profile_image"><br>
                {% for field in accounts.google %}
                <strong>{{ field.extra_data.name }} <i class="fa-brands fa-google"></i></strong>
                {% endfor %}<br>
            </div>
        </div>
        {% endif %}
        <a class="btn btn-green" href="{% url 'socialaccount_connections' %}">Manage Social Accounts:</a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-12 col-lg-6">
                <h1 class="">Order History</h1>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless text-secondary">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1 class="display-4"> In order to have a profile you must have an account</h1>
            <a class="btn btn-gate form-control" href="{% url 'account_login'%}">Login</a>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}