.product-card {
    padding: 15px;
    border-radius: 15px;
}

.product-card>* {
    padding: 0;
}

.product-card p {
    font-weight: bold;
}

.product-card-img-div {
    height: 20em;
    width: 20em;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.color-size-button {
    min-width: 25px;
    min-height: 25px;
    font-size: 14px;
    border-radius: 50%;
    border: 0px;
    margin: 5px;
    text-align: center;
}

.color-size-button-in-cart {
    min-width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
}

.product-combinations-in-cart-widget {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.product-detail-menu {
    position: relative;
    height: 10em;
}

.product-detail-menu .quantity-widget {
    position: relative;
    right: 0;
}

.color-size {
    border: solid 1px black;
}


.add-colors-form-div {
    background-color: rgba(165, 162, 164, 0.26);
    border-radius: 5px;
}


.quantity-readonly{
    padding:0;
    text-align: center;
}

#mc_embed_signup{
    margin-top: 200px;
}