<div class="row g-0 product-card">
    <div class="col-12">
        <div class="product-card-img-div" style="background-image:url('{{ product_image_url }}')"></div>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>PKR {{ product.price }}</p>
        <button u:click.prevent="toggle_detail" class="btn btn-gate">
            {% if not show_detail %}
                <i class="fas fa-caret-down">&nbsp buy</i>
            {% else %}
                &nbsp&nbsp&nbsp&nbsp<i class="fas fa-caret-up"></i>&nbsp&nbsp&nbsp&nbsp
            {% endif %}
        </button>
    </div>
    {% if show_detail %}
    <div class="form-group row g-0 product-detail-menu">
        <div class="col-9">
            {% if component_quantity_changed and in_bag %}
                <button u:click.prevent="adjust_bag" class="form-control btn-gate"> Adjust </button>
            {% else %}
                <button u:click.prevent="add_to_bag" class="btn-gate form-control"> Add to cart </button>
            {% endif %}
            {%if in_bag %}
            <button u:click.prevent="remove_from_bag"
                class="form-control btn-danger">
                <i class="fas fa-trash"></i>
            </button>
            {% endif %}

        </div>
        <div class="col-3 quantity-widget">
            <button class="increment-qty btn form-control text-light" u:click.prevent="increment_component_quantity">
                <i class="fas fa-arrow-up"></i>
            </button>
            <input class="form-control quantity-readonly" type="number" readonly
                name="quantity" value="{{component_quantity}}" min="1" max="99">
            <button class="decrement-qty btn form-control text-light" u:click.prevent="decrement_component_quantity">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>
    {% endif %}
</div>
<hr>
