{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<div class="auth-background background-overlay"></div>
<div class="auth-block-content">
    <h1 class="display-2">{% trans "Connected Accounts" %}</h1>
    {% if form.accounts %}
        <p class="display-5">{% blocktrans %}You can sign in to your account using your Google Account:{% endblocktrans %}</p>
        <form method="post" action="{% url 'socialaccount_connections' %}" class="table-bordered">
            {% csrf_token %}
            <div class="input-group"
                {% if form.non_field_errors %}
                    <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}
                {% for base_account in form.accounts %}
                    {% with base_account.get_provider_account as account %}
                        <div class="form-control">
                            <label for="id_account_{{ base_account.id }}">
                                <input id="id_account_{{ base_account.id }}" type="checkbox" name="account" value="{{ base_account.id }}"/>
                                <strong>{{ account }}</strong> &nbsp <i class="fa-brands fa-google"></i> &nbsp <i class="fas fa-check"></i>
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
            <button class="btn btn-danger" type="submit">{% trans 'Remove' %}</button>
        </form>
    {% else %}
        <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
        <br>
        <br>
        <br>
    <div class="table-bordered">
        <span class="display-4">Add a</span>
        <a class="btn btn-green">{% include "socialaccount/snippets/provider_list.html" with process="connect" %} </a>
        <span class="display-4">Account</span>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
    <br>
    <br>
    <br>
    <button class="btn btn-green"><a href="{% url 'profile' %}">{% trans 'Back to your Profile' %}</a></button>

</div>
{% endblock %}

